body {
    background-image: URL("MIN-GK2-KNA_A_FBL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    background-size: 97% 97%;
    background-color: rgb(13, 119, 146);
}


.wind {
    text-align: center;
    margin-bottom: -150px;
   opacity: 0.5;
    position: relative;
    animation: windy 30s ;
    animation-delay: 2s;
    animation: windy 30s ;
    animation-fill-mode: forwards;
  }

 
  .wind2 {
    text-align: center;
    margin-bottom: -150px;
    opacity: 0.5;
    position: relative;
    animation: windy2 30s;
    animation-delay: 2s;
    animation: windy2 30s ;
    animation-fill-mode: forwards;
  }
  @keyframes windy {
    from {left: 0px;}
    to {left: 1500px;
        visibility: hidden;
    }
   
  }
  @keyframes windy2 {
    from {right: 0px;}
    to {right: 1500px;
        visibility: hidden;
    }
  }





.button{
  display:inline-block;
  padding:5px;
  border:solid 2px #000;  
  border-radius:5px;
  margin-bottom:10px;
  background-color:#bbb;
  color:black;
}


#chichen1Popup:checked ~ #chichen1
{
  display: block;

}

#chichen1,

.game-frame{
  display: none;
 
}


